/* custom checkbox */
/* The container */
.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-left: 26px;
  padding-right: 16px;
  margin-bottom: 16px;
  min-height: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container .label {
  display: inline-block;
  position: absolute;
  top: -2px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background: currentColor;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container.radio .checkmark {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%;
}

/* Show the checkmark when checked */
.checkbox-container.radio input:checked~.checkmark {
  background-color: transparent;
}

.checkbox-container.radio input:checked~.checkmark:after {
  background-color: currentColor;
  height: 12px;
  width: 12px;
  left: 1px;
  top: 1px;
  border: 1px solid;
  border-radius: 50%;
}

/* end custom checkbox */